<center>
	<h2 style='color: green;'>Ganaste :)</h2><br>
	<img src="/images/winner.jpg" width="250" height="300">
	<h3>La palabra era: <b><%=$palabra.join%></b></h3>
	<h3>Tu puntaje: <%=$puntos%></h3>
	<a href="/"><button type="button" class='btn btn-sm btn-success'>Jugar de Nuevo</button></a>
</center>