<center>
	<h1>Bienvenido a Hangman</h1>
	<img src="/images/h0.png" width="450" height="350"><br><br>

	<a href="/juego"><button type="button" class='btn btn-sm btn-success'>Jugar</button></a>
</center>