<center>
	<h1>Bienvenido a Hangman</h1>
	<img src="/images/h0.png" width="400" height="250"><br><br>

	<form action"/juego" method="post">
		<input type="submit" value="Jugar" class='btn btn-sm btn-success'/>
	</form>
	<!-- <a href="/juego"><button class='btn btn-info'>Jugar</button></a> -->
</center>